/*light mode*/
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffe4ed;
    border-bottom: 2px solid black;
    padding-left: 0.5%;
    padding-right: 1%;
}
.navbar button{
    color:#2b2b2b;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffe4ed;
    border: 1px solid black;
    padding:5px 8px;
    border-radius: 20px;
}
.home{
    display: flex;
    align-items: center;
}
.explore{
    margin-left: auto; 
}
.container.dark .navbar{
    background-color: #111111;
}

/*dark mode*/
.container.dark .navbar button{
    color:#ffe4ed;
    background-color: #2b2b2b;
    border: 1px solid #ffe4ed;
}
.toggleMode{
    width:50px;
    cursor:pointer;
}