.mode{
  width: 100vw;
  min-height: 100vw;
  background: #ffffff;
  transition: 0.5s ease;
  overflow-x: hidden;
}

.mode.dark{
  color:#ffe4ed;
  background-color: #2b2b2b;
}

.App {
  position: relative;
  min-height: 100vh;
}

.music-player.expanded ~ .main-content {
  padding-bottom: 200px; 
}
