@import 'https://fonts.googleapis.com/css?family=Inter';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff; 
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}